# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# vscode
.vscode

.DS_Store

/JobPool/*log
/JobPool/*.sh
/JobPool/.submitters*
/JobPool/.lock*

/forcebalance-1.7.5/external/*
!/forcebalance-1.7.5/external/link.sh
!/forcebalance-1.7.5/external/submitTinker.py
